@font-face {
    font-family: font1;
    src: url(fonts/fonnts.com-moranga-mediumit.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
}

/* Navbar code */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin-top: 2vmax;
    padding-left: 2vmax;
    padding-right: 2vmax;
}

nav h1 {
    font-family: font1;
    color: white;
    cursor: pointer;
}

nav svg {
    height: 5.1vw;
    cursor: pointer;
    border-radius: 50%;
    z-index: 999;
}

nav svg:hover {
    scale: 0.8;
}

nav button {
    background-color: #3FD2F0;
    color: white;
    font-size: 1rem;
    padding: 1.5vh 3vh;
    border: none;
    border-radius: 1vmax;
    cursor: pointer;
}

nav button:hover {
    scale: 1.1;
}

/* navbar reponsive */

@media(max-width:600px) {
    nav {
        width: 100%;
        margin-top: 2vmax;
        padding-left: 2vmax;
        padding-right: 2vmax;
    }

    nav h1 {
        font-size: 2.5vmax;
    }

    nav svg {
        height: 9.9vw;
    }

    nav button {
        font-size: 13px;
        padding: 10px 5px;
    }

}

/* page1 code */

.page1 {
    min-height: 100%;
    width: 100%;
    background-color: black;
}

.hero-pic {
    height: 100%;
    width: 100%;
}

.hero-pic video{
    z-index: 111;
}

.hero-pic img {
    height: 32vmax;
    width: 60%;
    position: absolute;
    top: 11vmax;
    left: 20vmax;
    z-index: 222;
}

@media(max-width:600px) {

    .hero-pic img {
        height: 30vmax;
        width: 100%;
        position: absolute;
        top: 12vmax;
        left: 0;
    }

}